{%extends 'base.html'%}

{%block content%}


{% if message %}
    <p class="alert alert-info">{{ message }}</p>
{% endif %}
 

{%if  reserved_room %}
    <div class="container mt-5">
        <div class="card">
        <div class="card-header bg-primary text-white">
            Reçu de réservation
        </div>
        <div class="card-body">
            <p>Nom de la salle réservée : {{ nom_t }}</p>
            <p>Nombre d'invités : {{ nombre_invite }}</p>
            <p>Date : {{ date }}</p>
            <p>Machine à café : {{ machine_a_cafe }}</p>
            <p>Tableau blanc : {{ tableau_blanc }}</p>
            <p>Wi-Fi : {{ wifi }}</p>
            <p>Projecteur : {{ projecteur }}</p>
        </div>
        </div>
    </div>

{%elif  available_rooms_infos %}

<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Nom</th>
            <th>Nombre d'invités</th>
            <th>Machine à café</th>
            <th>Tableau blanc</th>
            <th>Wi-Fi</th>
            <th>Projecteur</th>
            <th>Reserver</th>
        </tr>
    </thead>
    <tbody>
            {% for room in available_rooms_infos %}
                <tr>
                    <td>{{ room.nom }}</td>
                    <td>{{ room.nombre_invite }}</td>
                    <td>{{room.machine_a_cafe }}</td>
                    <td>{{room.tableau_blanc}}</td>
                    <td>{{ room.wifi }}</td>
                    <td>{{ room.projecteur }}</td>
                    <td>
                        <form method="post" action="{% url 'form_submit' %}">
                            {% csrf_token %}
                            <input type="hidden" name="room_id" value="{{ room.id }}">
                            <button type="submit" class="btn btn-primary" name="reserver">Réserver</button>
                        </form>                          
                    </td>  
                </tr>
            {% endfor %}
    </tbody>
</table>

{%endif%}


{%endblock content%}
